{% extends 'inc/theme/base.inc.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap5 %}
{% load django_bootstrap5 %}
{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block custom_css %}

<style>
    .form-control::placeholder {
        color: transparent;
    }

    .invalid-feedback{
        display: block !important;
    }
</style>
{% endblock custom_css %}
{% block content %}


<div>
    <div class="row">

        <div class="col-sm-8">
            <div class="d-flex mt-4 mb-2 align-items-center">
                <img style="border: solid 1px #e3e3e3; width: 45px; height: 45px; border-radius: 100px;" src="{{ customer.profile_picture.url }}" alt="Profile picture">
                <h2 class="mx-2 my-0">{% trans 'Change Password' %}</h2>
            </div>

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">{% trans 'home' %}</li>
                <li class="breadcrumb-item">{% trans 'Profile' %}</li>
                <li class="breadcrumb-item">{% trans 'Change password' %}</li>
            </ol>
        </div>

        <div class="col-sm-4 d-flex align-items-center justify-content-sm-end">
          

        </div>
    </div>




    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="{% url 'accounts:password_change' %}" method="post">
                {% csrf_token %}

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                        <button class="accordion-button show" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}"  aria-controls="collapse{{ forloop.counter }}">
                            <i class="material-icons">edit</i> <span class="px-2">{% trans 'Change Password' %}</span>
                        </button>
                        </h2>
                        <div id="" class="accordion-collapse show" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                {% bootstrap_form form %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn my-3 mb-4 btn-dark btn-block">{% trans 'Change password' %}</button>
            </form>

        </div>
        <div class="col-sm-3"></div>
    </div>
    

</div>


<script>
    $(".accordion-body .mb-3").addClass("col-sm-12");
    // $("#id_dob").attr("type", "date");
</script>


{% endblock content %}