{% extends 'volt/inc/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="pt-5 pb-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0 d-flex align-items-center">
            <h1 class="h2">{{ user.first_name }} {{ user.last_name }}</h1>
            {% if user.is_superuser %}
                <span class="badge badge-pill mx-3 bg-success radius-100">Admin</span>
            {% elif user.is_staff %}
                <span class="badge badge-pill mx-3 badge-business radius-100">Staff</span>
            {% endif %}
        </div>
    </div>
</div>

<div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="card-title my-0">Change Password</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for field in form %}
                        <div class="col-sm-6 my-3">
                            {% bootstrap_field field %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
