{% extends 'inc/theme/base.inc.html' %}
{% load static %}
{% block title %}My profile{% endblock %}
{% block content %}


<div class="pt-5 pb-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0 d-flex align-items-center">
        <h1 class="h2">{{ user.first_name }} {{ user.last_name }}</h1>
        {% if user.is_superuser %}
            <span class="badge badge-pill mx-3 bg-success radius-100">Admin</span>
        {% elif user.is_staff %}
            <span class="badge badge-pill mx-3 badge-business radius-100">Staff</span>
        {% endif %}
      </div>
      <div class="gap-2 d-flex justify-content-end align-items-center">
        <a href="{% url 'accounts:change-profile-password' %}" title="Change password" class="d-flex align-items-center btn btn-success m-1" role="button">
            <i class="material-icons my-0 py-1 fs-5" style="margin-right: 10px;">password</i>
            Change Password
        </a>
        
        <a href="{% url 'accounts:edit-profile' %}" title="Edit profile" class="d-flex align-items-center btn btn-secondary m-1" role="button">
            <i class="material-icons my-0 py-1 fs-5" style="margin-right: 10px;">edit</i>
            Edit Profile
        </a>
      </div>
    </div>
  </div>
  

<div>
  

    <div class="row">
        <div class="col-sm-12 sections" id="profile-details-container">
    
            <div class="card mb-4 shadow-sm">
                <!-- <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Devices belongs to all users are listed
                </div> -->
                <div class="card-header">
                    <h4 class="card-title my-0">Personal Details</h4>
                </div>
    
                <div class="card-body">
                    <div class="row">
                        {% for field_name, field_value in fields_data.items %}
        
                            <div class="col-sm-4 my-3">
                                <div class="my-0">
                                    <p class="label-title">{{ field_name }}</p>
                                    <span class="{{ field_name }}">{{ field_value }}</span>
                                </div>
                            </div>
    
                        {% endfor %}
    
                    </div>
                </div>
                
            </div>
    
        </div>
    
    
    
    
     
        
    
        
    
    
    
    
    </div>



</div>



{% endblock content %}