{% load i18n %}

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Corboss CRM 2023</div>
            <div>
                <a href="#" class="text-decoration-none">{% trans 'Privacy Policy' %}</a>
                &nbsp; &middot; &nbsp;
                <a href="#" class="text-decoration-none">{% trans 'Terms and Conditions' %}</a>
            </div>
        </div>
    </div>
</footer>