{% load i18n %}

<nav class="sb-sidenav accordion sb-sidenav-light border" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">

            <div class="sb-sidenav-menu-heading">{% trans 'Dashboard' %}</div>

            <a class="nav-link text-decoration-none text-dark {% if page == 'dashboard' %}active-link{% endif %}" href="{% url 'accounts:home' %}">
                <div class="sb-nav-link-icon text-decoration-none {% if page == 'dashboard' %}text-dark{% endif %}"><i class="material-icons mt-1">home</i></div>
                {% trans 'Dashboard' %}
            </a>

            <a class="nav-link d-flex align-items-center text-decoration-none text-dark {% if page == 'products' %}active-link{% endif %}" href="{% url 'scraper:products' %}">
                <div class="sb-nav-link-icon text-decoration-none {% if page == 'products' %}text-dark{% endif %}"><i class="material-icons mt-1">box</i></div>
                {% trans 'Products' %}
            </a>

            <a class="nav-link d-flex align-items-center text-decoration-none text-dark {% if page == 'processes' %}active-link{% endif %}" href="{% url 'scraper:processes' %}">
                <div class="sb-nav-link-icon text-decoration-none {% if page == 'processes' %}text-dark{% endif %}"><i class="material-icons mt-1">server</i></div>
                {% trans 'Process Monitoring' %}
            </a>

            <a class="nav-link d-flex align-items-center text-decoration-none text-dark {% if page == 'initiate-process' %}active-link{% endif %}" href="{% url 'scraper:initiate-process' %}">
                <div class="sb-nav-link-icon text-decoration-none {% if page == 'initiate-process' %}text-dark{% endif %}"><i class="material-icons mt-1">add_circle</i></div>
                {% trans 'New Process' %}
            </a>

            <a class="nav-link d-flex align-items-center text-decoration-none text-dark {% if page == 'settings' %}active-link{% endif %}" href="{% url 'accounts:settings' %}">
                <div class="sb-nav-link-icon text-decoration-none {% if page == 'settings' %}text-dark{% endif %}"><i class="material-icons mt-1">settings</i></div>
                {% trans 'Settings' %}
            </a>

            <a class="nav-link d-flex align-items-center text-decoration-none text-dark" href="{% url 'accounts:logout' %}">
                <div class="sb-nav-link-icon"><i class="material-icons mt-1">logout</i></div>
                {% trans 'Logout' %}
            </a>

        </div>
    </div>
</nav>
