{% extends 'inc/theme/base.inc.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap5 %}
{% block title %}Change Password ({{ agent.full_name }}){% endblock %}

{% block content %}


<div>
    <div class="row">
        
        
        <div class="col-sm-8">
            <div class="mt-4 mb-2">
            

                <div class="d-flex align-items-center">
                    <h2 class="my-0">{{ employee }}</h2>
                    {% if employee.is_active %}
                        <span class="badge mx-3 badge-pill radius-100 badge-success bg-success">Active</span>
                    {% else %}
                        <span class="badge mx-3 badge-pill radius-100 badge-success bg-secondary">Inactive</span>
                    {% endif %}                      
                </div>
            </div>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">{% trans 'home' %}</li>
                <li class="breadcrumb-item ">{% trans 'employees' %}</li>
                <li class="breadcrumb-item initial-text">{{ employee }}</li>
                <li class="breadcrumb-item initial-text">Change Password</li>
            </ol>
        </div>

      
    </div>

    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-4  my-shadow bg-light">
            
            <div class="card-body">
                <h4 class="mb-3">Change password</h4>

                <div class="row">
                    {% for field in form %}
                        <div class="col-sm-6">
                            {% bootstrap_field field %}
                        </div>
                    {% endfor %}
                </div>
            
                <button type="submit" name="" id="" class="btn btn-primary">Submit</button>
                
            </div>
        </div>

    </form>

    


</div>



<script>
    $(".django_bootstrap5-error").addClass("is-invalid");
    $(".is-valid").removeClass("is-valid");
    $("input").removeAttr("placeholder");
    
</script>

{% endblock content %}