{% extends 'volt/inc/base.html' %}
{% load bootstrap5 %}

{% block extra_css %}
<style>
  .marketplace-card {
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
}

.marketplace-card.selected {
    border: 2px solid #323233;
    transition: border-color 0.3s;
}
</style>
{% endblock extra_css %}

{% block content %}

<div class="row align-items-center pt-4 my-4">
  <div class="col-md-6 col-12 mb-3 mb-md-0">
    <h4 class="my-auto">Initiate New Scraping Process</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card text-left shadow-sm">
      <div class="card-header bg-light">
        <h4 class="card-title my-0">Add Details</h4>
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          
          <!-- Render search query and other form fields -->
          <div>
            {% bootstrap_field form.search_query %}
            {% bootstrap_field form.max_records %}
          </div>
          
          <!-- Custom Marketplace Selection -->
          <div class="form-group mb-3">
            <label for="id_source_websites">Select Marketplaces</label>
            <div class="marketplace-logos row">
              {% for website in form.source_websites.field.queryset %}
                
                <div class="col-4 text-center">
                  <div class="card marketplace-card text-left" style="height: 60px;">
                    <div class="card-body p-2 d-flex align-items-center">
                      <input 
                        type="checkbox" 
                        class="d-none"
                        name="source_websites" 
                        value="{{ website.id }}" 
                        id="marketplace-{{ website.id }}"  
                      />
                      <label for="marketplace-{{ website.id }}">
                      
                        <div class="marketplace-card">
                          <img src="{{ website.logo.url }}" alt="{{ website.name }}" class="img-fluid" />
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <p class="text-danger" id="source-website-error"></p>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100">Submit To Start Process</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6"></div>
</div>

<script>
  $(document).ready(function() {
    
    // Toggle the 'selected' class on the marketplace card when the checkbox is clicked
    $('input[type="checkbox"][name="source_websites"]').on('change', function() {
      if ($(this).is(':checked')) {
        $(this).closest('.marketplace-card').addClass('selected');
      } else {
        $(this).closest('.marketplace-card').removeClass('selected');
      }
    });


    // Form submission validation
    $('form').on('submit', function(event) {
      var isAnyChecked = $('input[type="checkbox"][name="source_websites"]:checked').length > 0;
      
      if (!isAnyChecked) {
        event.preventDefault(); // Prevent form submission
        $('#source-website-error').text('Please select at least one website.');
      } else {
        $('#source-website-error').text('');
      }
    });
  });
</script>

{% endblock content %}
